main{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: minmax(120px,auto);
    width: 40%;
    margin: auto;
}

div{
    border: solid black;
    
}

#div8{
    grid-row: 2/6;
    grid-column-start: 2;
}

#div9{
    grid-row: 2/4;
    grid-column: 3/5;
}

#div10{
    grid-row: 2/4;
    grid-column-start: 5;
}

#div11{
    grid-row: 2/5;
    grid-column-start: 6;
}

#div14{
    grid-column: 3/6;
}

#div16{
    grid-column: 3/7;
}